<my-title title="Usuários"></my-title>
<hr>
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
        <th scope="col">Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>acoes</td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-info">Cadastrar</button>